body{
    background-color: rgb(255, 255, 255);
    color: rgb(33, 37, 41);
    font-family: "Frutiger", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-size: 19.84px;
    font-weight: 400;
    line-height: 29.7667px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: start;      
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

}

/*header*/
.menu-s{
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: inline-block;
    font-family: "Frutiger", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-size: small;
    font-weight: 400;
    line-height: 29.766735px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 9.92px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: right
}

#menu-c{
    border-radius: 0%;
    position: relative;
    height: 3em;
    width: 2.5em;
    border-bottom: solid 5px rgb(6, 45, 3);
    background:#005030;
   
    
}

#list-menu{
    color: rgb(255, 255, 255);
    font-size: x-large;
}

#menu-label{
    bottom: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: "Frutiger", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-size: 10.4px;
    font-weight: 400;
    left: 0px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 32px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    top: 4px; 
}

#menusuperior{
    background: rgb(228, 222, 222); 
}

#menusuperior:hover{
    color: rgb(10, 71, 10);
}

#menu-inferior:hover{
    color: rgb(10, 71, 10);
}

#botongroup{
    background:#005030;
    height: 4rem;
    border-radius: 0%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 5px rgb(6, 45, 3); 
    font-size: large;
    margin-top: -1rem;    
}

#botongroup:hover{
    background: rgb(6, 45, 3); 
}

#patientlogin{
    color: orangered;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

 

/*main*/
#imagenf{    
    background: url(../imagenes/hospital.jpg);
    background-size: cover;
    height: 400px;
    min-height: 600px;
    background-repeat: no-repeat;
    margin-top: -1rem;
}

#columna{
    height: 560px;
    width: 700px;
    background: linear-gradient(rgba(254, 254, 254, 0.526), white);
    display: flex;
    justify-content: start;
    align-items: start; 
    flex-direction: column; 
    margin-left: -1rem;
}

#call{
    color: rgb(225, 116, 43);
    font-weight: 350;
   
}

.titulo-1{
    margin-top: 5px;
}


#titulo-grande{    
    color: rgb(242, 119, 51);
    font-family: "Frutiger", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-size: 69.44px;
    letter-spacing: -0.868px;
    line-height: 83.3333px;
    padding: 3rem;
    margin-bottom: 26.708px;   
    padding-bottom: 59.52px;
    text-align: start;
    text-transform: uppercase;
} 

.divisor{
    max-width: 500px;
    width: 500px;
    color:chocolate;
    margin-left: 3rem;
    padding-top: 2rem;
 }

.contactar{
    padding-left: 3rem;    
    color: rgb(33, 37, 41);
    font-size: 20px;
    font-weight: 300;
    line-height: 37.2px;
}

#direccion{
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    font-size: 29px;
    font-weight: 300;
    line-height: 37.2px;
    text-align: start;
    text-decoration-line: none;
    padding-left: 3rem;
  
}

ul{
    list-style: none;
    
}

#subtitulo{
    text-align: center;
    box-sizing: border-box;
    color: rgb(242, 119, 51);
    font-family: "Frutiger", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-weight: 300;
    font-size: xx-large;
    letter-spacing: -0.434px;
    line-height: 41.6667px;
    margin-bottom: 20.832px;
    margin-top: 41.664px;
    padding-bottom: 9.92px;
}

#lista1, #lista2{
    text-decoration: underline!important;
    list-style: disc!important;   
    color: rgb(99, 100, 103);
    font-size: 19.84px;
    font-weight: 400;
    line-height: 39.6833px;
    text-align: left;
    
}

#lista-1-2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 3rem;
    
}

@media (max-width:770px){
    h3 #subtitulo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #lista-1-2{
        display: block;        
    }

    #lista1{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 0;
        margin-bottom: 0%;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: left
    }

    #lista2{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 0;
        margin-top: 0%;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;        
    }  
  
}

#no-link{
    pointer-events: none;
    cursor: default;
    color: rgb(99, 100, 103);
    
}

#listas{
    list-style: disc!important;
    color: #212529!important;
    font-size: 19.84px;
    line-height: 29.7667px;
    padding-top: 5rem;
}


div a{
    text-decoration: none;
    color: black;
}

#franja{
    background: rgb(225, 116, 43);
    height: 8rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#franja2{
    background: rgba(244, 250, 244, 0.998);
    height: 16rem;
    width: 100%;
}

#franja2 p{
    padding-top: 3rem;
    box-sizing: border-box;
    color: rgb(99, 100, 103);
    font-family: "Frutiger", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-size: 19.84px;
    font-weight: 400;
    line-height: 29.7667px;
    margin-bottom: 29.76px;
}

@media (max-width:600px){

    #franja2{
        padding:0;
        margin: 0;
    }


    #franja2 p{
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

#titulo, #enlace{
    color: aliceblue;
    font-size: large;
}

#franja3{
    margin-top: 0;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    color: rgb(31, 30, 30);  

}

#franja4{
    background: rgb(225, 116, 43);
    height: 6rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: larger;
}

#franja5{
    background: rgba(232, 235, 232, 0.998);
    height: auto;
    color: #636467;
}

.div-col{
    columns: 2;
    display: block;
    column-gap: 50px;
    line-height: 1.8em;
}

#titulo24h{
    color: rgb(225, 116, 43);
    text-align: start;
}

#titulotoyou{
    color: rgb(225, 116, 43);
    text-align: start;
}

#f5-col1, #f5-col2{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
   
}

@media (max-width:750px){
    #f5-col1, #f5-col2{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

    }

}

#leermas{
    background:rgb(225, 116, 43);
    color: aliceblue;
    width: 10rem;
    height: 3rem;
    border-radius: 0%;
    border-top: 0;
    border-left: 0;
    border-right: solid 6px orangered;
    border-bottom: 0;
    font-size: large;
}

#leermas:hover{
    background: chocolate;
}

#camilla{
    max-height: 35rem;
    max-width: 35rem;
}

#doctores{
    max-height: 35rem;
    max-width: 35rem;
}

#oftalmology{
    max-height: 150px;  
}

#neurology{
    max-height: 150px;
}

#rayita{
  margin-left: 10px;
  margin-right: 10px;
}

#col-best{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}



#besthospital{
    max-height: 200px;
    height: 150px;
    
}

#franja6{
    max-height: auto;
}

#titulowhy{
    color: rgb(225, 116, 43);
    text-align: center;
    font-size: xx-large;
    margin: 2rem;
}

#listagrande{
    text-decoration: none;
    list-style: disc!important; 
    color: dimgray;
    font-size: larger;
    line-height: 2rem;
}

#ptarjeta1{
    text-align: center;
    font-size: x-large;
}

#btnview{
    background: chocolate;
    border-radius: 0%;
    border-top: 0;
    border-left: 0;
    border-right: solid 6px orangered;
    border-bottom: 0;
    width: 18rem;
    height: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: aliceblue;
    font-family: "Frutiger", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-size: 15.872px;
    font-weight: 600;
    line-height: 29.7667px
    
}

#uheal{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: chocolate;
    text-align: center;
    font-size: x-large;
}

#numero{
    color: chocolate!important;
}

#avenue{
    margin-left: 5rem;
    text-align: justify;
    font-size: large;
    color: #636467;
}

#ab24h{
   margin-left: 5rem;
   text-align: justify;
   font-size: large;
   color: #636467;
}

#card1, #card2, #card3{
   border-radius: 0%;
   height: 100%; 
}

#card2{
    border: none!important;
}

#img-ubicacion{
    height: 90%;
}

/*footer*/

.circulo a{   
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid gray;
      
}

#facebook{
    color: rgb(29, 100, 222);
    font-size: large;
   
}

#youtube{
    color: red;
    font-size: large;
   
}

#twitter{
    color: deepskyblue;
    font-size: large;
    
}

#instagram{
     /*esto es para lo del gradiente del instagram*/
    background-image: linear-gradient(purple,orangered,red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: large;
    text-transform: uppercase; 

}


.reservado{
    font-size: small;
    color: black;
}

.linkf, .linkflex{
    color: rgb(85, 85, 85);
    font-family: "Frutiger", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-size: 14.88px;
    font-weight: 400;
    line-height: 22.3167px; 
    
    
}

.linkflex:hover{
    color: 
    rgb(10, 71, 10);;
}

h6{
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: "Frutiger", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-size: 14.88px;
    font-weight: 600;
    letter-spacing: 1.6368px;
    line-height: 23.8px;
    margin-bottom: 11.16px;
    padding-bottom: 4.464px;
    text-align: start;
    text-transform: uppercase;
}

footer ul{
    padding-left: 0;
}